
img {
    width: 100px;
    height: 100px;
  }

.logos {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
}

#img1 {
  display: block;
  position: absolute;
  height: 70px;
  width: 60px;
  top: 40%;
  right: 40%;
}

#img2 {
  display: block;
  position: absolute;
  height: 70px;
  width: 60px;
  top: 40%;
  right: 35%;
}

#img3 {
  display: block;
  position: absolute;
  height: 70px;
  width: 60px;
  top: 40%;
  right: 30%;
}

#img4 {
  display: block;
  position: absolute;
  height: 70px;
  width: 60px;
  top: 40%;
  right: 25%;
}

#img5 {
  display: block;
  position: absolute;
  height: 70px;
  width: 75px;
  top: 40%;
  right: 19.6%;
}

#img6 {
  display: block;
  position: absolute;
  height: 70px;
  width: 90px;
  top: 40%;
  right: 13%;
}

#img7 {
  display: block;
  position: absolute;
  height: 70px;
  width: 80px;
  top: 55%;
  right: 39%;
}

#img8 {
  display: block;
  position: absolute;
  height: 70px;
  width: 65px;
  top: 55%;
  right: 34.5%;
}

#img9 {
  display: block;
  position: absolute;
  height: 70px;
  width: 60px;
  top: 55%;
  right: 30%;
}

#img10 {
  display: block;
  position: absolute;
  height: 70px;
  width: 100px;
  top: 55%;
  right: 22%;
}

#img11 {
  display: block;
  position: absolute;
  height: 95px;
  width: 95px;
  top: 53%;
  right: 16%;
}

#img12 {
  display: block;
  position: absolute;
  height: 75px;
  width: 60px;
  top: 55%;
  right: 12%;
}

#img13 {
  display: block;
  position: absolute;
  height: 60px;
  width: 80px;
  top: 40%;
  right: 7%;
}

#down {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 49.3%;
  bottom: 50px;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  object-fit: cover;
}

#up {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 49.3%;
  bottom: -133%;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  object-fit: cover;
  transform: scaleX(-1) scaleY(-1);
}

#arrow {
  height: 50px;
  width: 50px;
}


.corners #corner1 {
  position: absolute;
  top: 60px;
  left: 20px;
  opacity: 1;
}

.corners #corner2 {
  position: fixed;
  top: 300px;
  right: 30px;
  opacity: 0;
  transform: rotate(45deg);
}

.corners #corner3 {
  position: absolute;
  bottom: 60px;
  right: 20px;
  opacity: 1;
}

.corners #corner4 {
  position: fixed;
  bottom: 300px;
  left: 30px;
  opacity: 0;
  transform: rotate(45deg);
}

#gmail {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  text-align: center;
  bottom: 10px;
  left: 60%;
}

#linkedin {
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 10px;
  left: 40%;
}

#github {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 10px;
  left: 50%;
}

#stick1 {
  position: absolute;
  bottom: -10%;
  width: 300px;
  display: none;
  left: 39.6%;
}

#stick2 {
  position: absolute;
  display: none;
  bottom: -70%;
  left: 5%;
  width: 1380px; 
}

@media only screen and (max-width: 600px) {
  
  #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12, #img13 {
  display: none;
}

  .corners #corner2 {
    position: absolute;
    top: 110%;
    right: 40px;
    height: 50px;
    width: 50px;
}

  .corners #corner4 {
    position: absolute;
    top: 110%;
    left: 40px;
    height: 50px;
    width: 50px;
}

  #stick1 {
    bottom: -28%;
    width: 200px;
    left: 32%;
}

  #stick2 {
    bottom: -112%;
    left: 5%;
    width: 360px;
}

  #arrow {
    height: 40px;
    width: 40px;
  }

  #down{
    left: 45.5%;
    bottom: 7%;  
}

  #up {
    left: 45.5%;
    bottom: -96%;
}

  #gmail {
    bottom: 10px;
    left: 85%;
}

  #linkedin {
    bottom: 10px;
    left: 10%;
}

  #github {
    bottom: 10px;
    left: 47.3%;
}


}