/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: azure;
  }

body{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
}

#top{
  position: absolute;
  top: 0;
  justify-items: center;
}

#pinpoint{
  position: absolute;
  bottom: 80px;
  justify-items: center;
  height: 10px;
  width: 100%;
}

#space{
  height: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  top: 0%;
  padding: 10px;
}

#introduction {
  opacity: 1;
}

#introduction h1{
  font-size: 3rem;
  display: block;
  left: 5%;
  position: absolute;
  top: 13%;
}

#introduction h2{
  font-size: 2rem;
  display: block;
  left: 5%;
  position: absolute;
  top: 60%;
}

#intro {
  display: block;
  position: absolute;
  max-width: 30%;
  justify-content: center;
  top: 25%;
  left: 7%;
  text-align: left;
}

.projects h1{
  font-size: 2.3rem;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 14%;
}

#project1, #project2, #project3{
  height: 500px;
  position: absolute;
  max-width: 40%;
  right: 9%;
  top: 25%;
  text-align: center;
  transition: all 1s ease-out;
}

.hidden {
  display: none;
}

.active {
  z-index: 1;
}

.projects li:hover{
  color: gold;
}

.projects h2{
  cursor: pointer;
}

.projects h2:hover, h3:hover{
  color: yellow;
}

footer { 
  width: 100%; 
  position: fixed; 
  max-height: 50px;
  z-index: 1; 
  bottom: 0; 
  background-color: rgb(37, 37, 37); 
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 50px; 
  transition: 0.5s; 
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.358);
}

 
/* In case website is opened in mobile */

@media only screen and (max-width: 800px) {
  body{
   overflow: visible;
  }

  #space {
    height: 1300px;
    top: 0;
  }
  
  #introduction h1{
    font-size: 2.5rem;
    display: block;
    left: 22%;
    position: absolute;
    top: 5%;
  }
  
  #introduction h2{
    display: none;
  }

  #intro {
    display: block;
    position: absolute;
    max-width: 70%;
    justify-content: center;
    top: 10%;
    left: 17%;
    text-align: center;
  }

  .projects h1{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 30%;
  }

  #project1, #project2, #project3 {
    position: absolute;
    max-width: 80%;
    left: 12%;
    top: 62%;
    text-align: center;
  }

}

@media only screen and (min-width: 450px) and (max-width: 800px) {

  #introduction h2{
    top: 36%;
    left: 30%;
    font-size: 1.5rem;
    display: inline-block;
  }

  .projects h1{
    top: 55%;
    left: 40%;
  }

  #project1, #project2, #project3 {
    left: 12%;
    top: 60%;
  }

}


@media only screen and (min-width: 800px) and (max-width: 1200px) {

  body{
    overflow: visible;
    height: 800px;
   }
  
   #space {
    height: 700px;
    top: 0;
  }

  #introduction h1{
    top: 1%;
    left: 8%;
  }

  #introduction h2{
    top: 74%;
    left: 30%;
  }

  .projects h1{
    top: 3%;
    right: 3%;
  }

  #intro {
    top: 15%;
    max-width: 40%;
  }

  #project1, #project2, #project3 {
    right: 5%;
    top: 13%;
  }

}