/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: azure;
  }

body{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
}

#top{
  position: absolute;
  top: 0;
  justify-items: center;
}

#pinpoint{
  position: absolute;
  bottom: -30px;
  justify-items: center;
}

#introduction {
  opacity: 1;
}

#introduction h1{
  font-size: 3rem;
  display: block;
  left: 9%;
  position: absolute;
  top: 30%;
}

#introduction h2{
  font-size: 2rem;
  display: block;
  right: 25.5%;
  position: absolute;
  top: 30%;
}

#intro {
  display: block;
  position: absolute;
  max-width: 40%;
  justify-content: center;
  top: 40%;
  left: 10%;
  text-align: left;
}

#projects h1{
  font-size: 3rem;
  position: absolute;
  text-align: center;
  top: 95%;
  left: 45%;
}

.project1 {
  height: 500px;
  position: absolute;
  display: inline-block;
  max-width: 30%;
  left: 10%;
  top: 110%;
  text-align: center;
}

.project2 {
  height: 500px;
  position: absolute;
  display: inline-block;
  max-width: 30%;
  right: 10%;
  top: 110%;
  text-align: center;
}

.project3 {
  height: 500px;
  position: absolute;
  display: inline-block;
  max-width: 30%;
  left: 10%;
  top: 170%;
  text-align: center;
}

.project4 {
  height: 500px;
  position: absolute;
  display: none;
  max-width: 30%;
  right: 10%;
  top: 170%;
  text-align: center;
}

.projects li:hover{
  color: gold;
}

.projects h2{
  cursor: pointer;
}

.projects h2:hover, h3:hover{
  color: yellow;
}

footer { 
  width: 100%; 
  position: fixed; 
  max-height: 50px;
  z-index: 1; 
  bottom: 0; 
  background-color: rgb(37, 37, 37); 
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 50px; 
  transition: 0.5s; 
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.358);
}


/* The Navigation Menu */

.rightbar {
    max-height: 50px; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(37, 37, 37); 
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 50px; 
    transition: 0.5s; 
    box-shadow: 0 5px 10px rgba(17, 17, 17, 0.358);
    text-decoration: none;
  }
  
.rightbar #II {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
    display: inline-block;
    position: absolute;
    transition: 0.3s;
    left: 23%;
    top: 4px;
  }

  .rightbar #PP {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
    display: inline-block;
    position: absolute;
    transition: 0.3s;
    left: 45%;
    top: 4px;
  }
  
  .rightbar #CV {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
    display: inline-block;
    position: absolute;
    transition: 0.3s;
    left: 75%;
    top: 4px;
  }


  
.rightbar .closebtn {
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
    text-decoration: none;
  }
  
.rightbar .closebtn:hover {
  color: gold;
}

.rightbar #CV:hover {
    color: gold;
}

.rightbar #II:hover {
  color: gold;
}

.rightbar #PP:hover {
  color: gold;
}

.burger {
    padding: 15px;
    color: azure;
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    background-color: rgb(37, 37, 37); 
    box-shadow: 0 5px 10px rgba(17, 17, 17, 0.358);
    overflow: hidden;
  }

.burger #mini:hover{
   color: yellow;
   cursor: pointer;
}

/* In case website is opened in mobile */

@media only screen and (max-width: 600px) {
  body{
    height: 1230px;
  }
  
  .rightbar #II {
    font-size: 20px;
    left: 5%;
  }

  .rightbar #PP {
    font-size: 20px;
    left: 35%;
  }
  
  .rightbar #CV {
    font-size: 20px;
    left: 75%;
  }


  
  #introduction h1{
    font-size: 2.5rem;
    display: block;
    left: 15%;
    position: absolute;
    top: 20%;
  }
  
  #introduction h2{
    display: none;
  }

  #intro {
    display: block;
    position: absolute;
    max-width: 85%;
    justify-content: center;
    top: 30%;
    left: 10%;
    text-align: left;
  }

  #projects h1{
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 110%;
    left: 35%;
  }

  .project1 {
    height: 500px;
    position: absolute;
    display: inline-block;
    max-width: 46%;
    left: 1%;
    top: 125%;
    text-align: center;
  }
  
  .project2 {
    height: 500px;
    position: absolute;
    display: inline-block;
    max-width: 46%;
    right: 1%;
    top: 125%;
    text-align: center;
  }
  
  .project3 {
    height: 500px;
    position: absolute;
    max-width: 46%;
    left: 1%;
    top: 210%;
    text-align: center;
  }
  
  .project4 {
    height: 500px;
    position: absolute;
    max-width: 46%;
    right: 1%;
    top: 210%;
    text-align: center;
  }

}

